.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000; }
  .sidebar.collapsed {
    width: 35px; }

.sidebar-left {
  left: 10px; }

.sidebar-right {
  right: 10px; }

.sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 35px;
  background-color: #fff; }
  .sidebar-left .sidebar-tabs {
    left: 0;
    margin-top: 10px;
    background-color: rgba(0,0,0,0); }
  .sidebar-right .sidebar-tabs {
    right: 0; 
    margin-top: 10px;
    background-color: rgba(0,0,0,0);}
  .sidebar-tabs, .sidebar-tabs > ul {
    position: absolute;
    width: 35px;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .sidebar-tabs > li, .sidebar-tabs > ul > li {
      width: 100%;
      height: 35px;
      color: #333;
      font-size: 12pt;
      overflow: hidden;
      transition: all 80ms; 
      border-radius: 3px;
      background-color: #fff;
      /*border: 2px solid rgba(0,0,0,0.2);*/
    }
      .sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
        color: #000;
        background-color: #eee; 
      }
      .sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
        color: #fff;
        background-color: #0074d9; }
      .sidebar-tabs > li.disabled, .sidebar-tabs > ul > li.disabled {
        color: rgba(51, 51, 51, 0.4); }
        .sidebar-tabs > li.disabled:hover, .sidebar-tabs > ul > li.disabled:hover {
          background: transparent; }
        .sidebar-tabs > li.disabled > a, .sidebar-tabs > ul > li.disabled > a {
          cursor: default; }
      .sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 35px;
        color: inherit;
        text-decoration: none;
        text-align: center; }
  .sidebar-tabs > ul + ul {
    bottom: 0; }

.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-x: hidden;
  overflow-y: auto; 
  height: 75%;
}
  .sidebar-left .sidebar-content {
    left: 0px;
    top: 54px;
    border-radius: 3px;}
  .sidebar-right .sidebar-content {
    right: 0px;
    top: 54px;
    border-radius: 3px;}
  .sidebar.collapsed > .sidebar-content {
    overflow-y: hidden; 
    display: none;}

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px; 
  max-width: 250px;
}
.sidebar-pane.active {
  display: block; 
}
  

.sidebar-header {
  margin: -10px -20px 0;
  height: 50px;
  padding: 0 20px;
  line-height: 23px;
  font-size: 12pt;
  color: #fff;
  background-color: #0074d9;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-top: 3px;}
  .sidebar-right .sidebar-header {
     }

.sidebar-close {
  position: absolute;
  top: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer; }
  .sidebar-left .sidebar-close {
    right: 0; }
  .sidebar-right .sidebar-close {
    left: 0; }

.sidebar-left ~ .sidebar-map {
  margin-left: 35px; }


.sidebar-right ~ .sidebar-map {
  margin-right: 35px; }


.sidebar {
  /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); */
}
  .sidebar.leaflet-touch {
    box-shadow: none;
  }



